.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
}

.lateralMenu {
    width: clamp(140px, 100%, 280px);
    height: 100%;
    background-color: rgb(48, 52, 68);
}

.mobileMenu {
    width: 100%;
    height: 60px;
    background-color: rgb(48, 52, 68);
    display: none;
    justify-content: space-between;
}

.mobileMenu img {
    margin: auto 10px;
}

.mobileMenuLogo {
    width: clamp(50px, 25%, 150px);
    height: auto;
}

.mobileMenuOpener {
    width: 35px;
    height: 25px;
}

.option {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.option img {
    width: 50%;
    margin: auto;
}

.label {
    color: white;
    margin-right: 10px;
    text-align: center;
}

.travelCalculatorBox {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.travelCalculator {
    width: 90%;
    height: 66%;
    min-width: 280px;
    min-height: 280px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.219);
    display: flex;
    flex-direction: column;
}

.travelTitle {
    width: 100%;
    height: 50px;
    background-color: rgb(48, 52, 68);
    display: flex;
}

.icon {
    margin: auto 20px;
    width: 40px;
    height: auto;
}

.title {
    color: white;
}

.travelSelectorBox {
    display: grid;
    grid-template-columns: 5fr 6fr;
    height: 100%;
    margin: 10px;
    color: rgb(48, 52, 68);
}

.travelValues {
    height: 100%;
    background-color: #f8f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculateTravelTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.calculateTravelTitle .icon {
    margin: auto 5px;
}

.destinationSelect{
    background-color: white;
    width: 66%;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 2px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.destinationSelect p{
    color: rgb(82, 82, 82);
    font-size: small;
}

.destinationOption {
    font-weight: bold;
    background-color: white;
    width: 66%;
    padding: 10px;
    margin: 0;
    border-top: 1px solid rgba(48, 52, 68, 0.349);
    display: none;
    cursor: pointer;
}

.destinationOption:hover{
    background-color: rgb(48, 52, 68);
    color: white;
}

.destinationOption h4 {
    margin: 0 5px;
}


@media (max-width: 960px) {
    .lateralMenu {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .travelSelectorBox {
        grid-template-columns: 1fr;
    }

    .travelCalculator {
        height: 95%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: medium;
        text-align: center;
    }

    .icon {
        width: 30px;
    }

    .calculateTravelTitle h4 {
        font-size: small;
    }
}