<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../utils/global.css">
    <link rel="stylesheet" href="travel.css">
    <title>Coorlab Challenge</title>
</head>

<body>
    <nav class="mobileMenu">
        <img src="../../images/logo.png" class="mobileMenuLogo">
        <img src="../../images/menu.png" class="mobileMenuOpener">
    </nav>
    <div class="container" id="app">
        <nav class="lateralMenu">
            <img src="../../images/logo.png" class="logoImg">
            <div class="option">
                <img src="../../images/calculator.png">
                <h4 class="label">Calculadora de Viagem</h4>
            </div>
        </nav>
        <main class="travelCalculatorBox">
            <div class="travelCalculator">
                <div class="travelTitle">
                    <img src="../../images/truck.png" class="icon">
                    <h3 class="title">Calculadora de Viagem</h4>
                </div>
                <section class="travelSelectorBox">
                    <div class="travelValues">
                        <div class="calculateTravelTitle">
                            <img src="../../images//hand.png" class="icon travelBoxIcon">
                            <h4>Calcule o valor da Viagem</h4>
                        </div>
                        <label>Destino</label>
                        <div class="destinationSelect" v-model="destination" @click = "showDestinations()">
                            <p>{{selectedDestination != "" ? selectedDestination : "Selecione um destino"}}</p>
                            <p>></p>
                        </div>
                        <div class="destinationOption" v-for="destination in destinations" @click = "selectDestination(destination)">
                            <h4>{{destination.city}}</h4>
                        </div>
                        <label>Data</label>
                        <input v-model="date" placeholder="Selecione uma data"></input>
                        <standart-button button-label="Buscar"></standart-button>
                    </div>
                    <div class="travelResults">

                    </div>
                </section>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20"></script>
    <script type="module" src="travel.js"></script>
</body>

</html>