:root {
    color-scheme: only light;
}

html {
    height: 100%;
}

body {
    background-color: rgb(48, 52, 68);
    margin: 0;
    height: 100%;
    min-width: 320px;
    font-family: 'Courier New', Courier, monospace;
}

.logoImg {
    margin: 20px;
    width: clamp(150px, 10%, 300px);
    height: auto;
}

label {
    width: 66%;
    text-align: start;
}


input {
    margin-bottom: 20px;
    width: 66%;
    padding: 10px 5px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 2px;
}

.standartButton {
    color: rgb(48, 52, 68);
    background-color: #08acb4;
    border: none;
    border-radius: 5px;
    padding: 7.5px 50px;
    font-weight: bold;
    margin: 10px;
    transition: 0.2s all;
    cursor: pointer;
}

.standartButton:hover {
    color: white;
    background-color: rgb(48, 52, 68);
}